/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, sans-serif);
  font-variation-settings: 'wght' var(--main-font-weight, 400);
  background-image: var(--background-gradient);
  background-size: cover;
	background-attachment: fixed;
  width: clamp(375px, 261.75px + 30.2vw, 100vw);;
}

.header {
  display: flex;
	flex-direction: column;
	gap:20px;
  font-family: var(--accent-font, fantasy);
  margin: 100px 0;
  padding: var(--header-padding) 0;
  text-transform: uppercase;
  text-align: center;
  background-color: white;
}

.border__block { 
  border: 2px solid black;
}

.main {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  font-variation-settings: 'wght' var(--main-font-weight, 400);
}

.card__title {
  display: block;
  font-variation-settings: 'wght' var(--title-font-weight, 700);
  font-size: 18px;
  margin: 0 10px;
}

.card__container-image {
  position: relative;
  display: block;
}

.card__image-label {
  position: absolute;
  text-transform: uppercase;
  top: 25px;
  right: 13px;
  opacity: 0.5;
  background: inherit;
  mix-blend-mode: hard-light;
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: bold;
  color: #000;
  z-index: 2;
  
  /* Обводка через text-stroke с фоллбэком */
  text-shadow: 
    -1px -1px 0 var(--stroke-color),
     1px -1px 0 var(--stroke-color),
    -1px  1px 0 var(--stroke-color),
     1px  1px 0 var(--stroke-color);
}

.card__image {
  border-top: 2px solid black;
  width: 100%;
  height: auto;
  display: block;
}

.card__text {

  margin: 25px;
}

.memory-place {
  margin: 27px 25px 25px;
}

.memory__buttons {
  margin-top: 25px;
  display: flex;
  gap: 12px;
  width: 100%;
  justify-content: flex-end;
}

.card__like-button {
  position: relative;
  width: 130px;
  height: 38px;
  background: white;
  font-family: var(--accent-font);
  font-size: 14px;
  border: 2px solid black;
  cursor: pointer;
  overflow: hidden;
  color: black;
}

.card__like-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: black;
  transition: left 0.5s ease-in-out;
}

.card__like-button:hover::before {
  left: 0;
}

.card__like-button span {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  color: white;
}

.card__like-button:focus {
  outline: none;
  box-shadow: 2px 2px 0 1px black;
  transition: box-shadow 0.3s ease;
}

.card__icon-button {
  border: none;
  background-color: inherit;
}

.save-button {
  width: 335px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.floppy {
  width: 21px;
  height: 21px;
  transition: all 0.3s ease;
  mix-blend-mode: difference;
  fill: rgb(255, 255, 255);
}


@media (width <= 375px) {

  :root {
    --width-main: clamp(375px, 100vw, 700px);
    --font-size: 18px;
    --height-welcome: 327px;
    --height-card__title: 31px;
    --h1-welcome: 49px;
    --h2-welcome: 14px;
    --margin-save: 35px;
    --width-save: 306px;
    --height-save: 80px;
    --margin-left-label: 11px;
    --width-dialog-text: 198px;
    --width-dialog-button-close: 257px;
  }

  .save-button {
    flex-direction: column;
  }

  .save-button__disketto {
    width: 28px;
    margin-top: 2px;
  }
}
