:root {
  --main-font: 'Inter', sans-serif;
  --accent-font: 'PressStart2P', fantasy;
  --main-font-weight: 400;
  --title-font-weight: 700;

  --header-padding: clamp(7.5rem, 7.5rem + 0.5vw, 8rem);

  --background-gradient:
    repeating-linear-gradient(0deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
    repeating-linear-gradient(90deg,#d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
    linear-gradient(0deg,#1a1a1a  0.01%, #e7e7e7 100%);

  --heart-contour-color: black;
  --heart-core-color: red;
  --animation-fill-color: red;
  --stroke-color: #ffffff;
}
